/*CSS - Variables*/
:root{
    --container-height: 700px; /*Base size (100%)*/
    --container-width: calc(var(--container-height) * 0.64); /*approximately 64% of the base size*/
}
/*CSS - Text font*/
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');
/*CSS - Normalize*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*CSS - Reusable code*/
.flex-center-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*CSS - Modifying the page viewport*/
body{
    background-image: url("./images/Sbackground.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
}
/*CSS - Component background container*/
.container{
    /*Reusable class - flex-center-column*/
    background-image: url("./images/pattern-background-desktop.svg");
    background-color: hsl(225, 100%, 94%);
    max-width: 1140px;
    min-width: 350px;
    padding: 10px 0;
    margin: 10px auto;
    border-radius: 10px;
}
/*CSS - Container component*/
.order-summary{
    background-color: #FFFFFF;
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: var(--container-width);
    min-width: 350px;
    height: var(--container-height);
    border-radius: 10px;
}
/*CSS - Presentation image section*/
.order-image{
    position: relative;
    flex-grow: 2;
    flex-shrink: 2.2;
    display: flex;
    flex-basis: 100%;
    height: 32%;
    border-radius: 10px 10px 0 0;
}
.order-image__img{
    position: absolute;
    border-radius: 10px 10px 0 0;
    height: 100%;
    width: 100%;
}
/*CSS - Presentation text section*/
.order-text{
    position: relative;
    flex-grow: 2;
    flex-shrink: 2.5;
    flex-basis: 100%;
    height: 22%;
    /*Reusable class - flex-center-column*/
    justify-content: flex-end;
}
.order-text__h1{
    color: hsl(223, 47%, 23%);
    text-align: center;
    width: 70%;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 900; 
    font-size: 26px;
    margin-bottom: 20px;
}
.order-text__p{
    width: 80%;
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500; 
    color: hsl(224, 23%, 55%);
}
/*CSS - Plan change options section*/
.order-option{
    /*Reusable class - flex-center*/
    position: relative;
    flex-basis: 100%;
    height: 22%;
    flex-grow: 2;
    flex-shrink: 2.5;
}
.order-container{
    background-color: hsl(225, 100%, 98%);
    display: flex;
    flex-basis: 80%;
    height: 60%;
    border-radius: 10px;
}
.container-option{
    display: flex;
    flex-basis: 60%;
    height: 100%;
}
.container-image{
    /*Reusable class - flex-center*/
    position: relative;
    flex-basis: 40%;
    height: 100%;
}
.container-image__div{
    position: absolute;
    width: 50%;
    height: 50%;
}
.container-image__div__img{
    width: 100%;
    height: 100%;
}
.container-text{
    /*Reusable class - flex-center-column*/
    align-items: flex-start;
    flex-basis: 60%;
    height: 100%;
}
.container-text__strong{
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700; 
    font-size: 16px;
    margin-bottom: 5px;
}
.container-text__p{
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500; 
    font-size: 16px;
    margin-top: 5px;
}
.container-change{
    /*Reusable class - flex-center*/
    justify-content: flex-end;
    flex-basis: 40%;
    height: 100%;
}
.container-change__a{
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    font-size: 14px;
    padding-right: 20%;
    color: hsl(245, 75%, 52%);
    transition-duration: 0.2s;
}
.container-change__a:hover{
    color: #8179ce;
}
/*CSS - Button section*/
.order-election{
    flex-grow: 2;
    flex-shrink: 2.5;
    /*Reusable class - flex-center-column*/
    position: relative;
    flex-basis: 100%;
    height: 24%;
}
.order-election__a{
    /*Reusable class - flex-center*/
    width: 80%;
    height: 34%;
    text-decoration: none;
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700; 
    font-size: 16px;
}
.order-election__a:nth-child(1){
    background-color: hsl(245, 75%, 52%);
    box-shadow: 0px 20px 12px 6px hsl(225, 100%, 94%);
    color: #FFFFFF;
    border-radius: 10px;
    transition-duration: 0.4s;
}
.order-election__a:nth-child(1):hover{
    background-color: #766cf1;
}
.order-election__a:nth-child(2){
    width: 30%;
    color: hsl(224, 23%, 55%);
    margin-top: 4%;
    transition-duration: 0.2s;
}
.order-election__a:nth-child(2):hover{
    color: hsl(223, 47%, 23%)
}
/*CSS - Changes for the adaptation of the mobile*/
@media screen and (max-width: 400px){
    /*CSS - Main container*/
    :root{
        --container-height: 500px; /*Base size (100%)*/
        --container-width: calc(var(--container-height) * 0.61); /*approximately 61% of the base size*/
    }
    /*CSS - Component background container*/
    .container{
        height: 100vh;
        margin: 0;
    }
    /*CSS - Container component*/
    .order-summary{
        max-width: var(--container-width); 
        min-width: 250px;
        height: var(--container-height); 
    }
    /*CSS - Presentation text section*/
    .order-text__h1{
        font-weight: 900; 
        font-size: 18px;
        margin-bottom: 10px;
    }
    .order-text__p{
        font-weight: 500; 
        font-size: 14px;
    }
    /*CSS - Plan change options section*/
    .container-option{
        flex-basis: 70%;
    }
    .container-change{
        flex-basis: 30%;
    }
    .container-image__div{
        width: 60%;
        height: 60%;
    }
    .container-text__strong{
        font-weight: 700; 
        font-size: 14px;
        margin-bottom: 2px;
    }
    .container-text__p{
        font-weight: 500; 
        font-size: 12px;
        margin-top: 2px;
    }
    .container-change__a{
        font-weight: 700;
        font-size: 12px;
        padding-right: 20%;
    }
    /*CSS - Button section*/
    .order-election__a{
        font-weight: 700; 
        font-size: 14px;
    }
    .order-election__a:nth-child(1){
        box-shadow: 0px 16px 12px 6px hsl(225, 100%, 94%);
    }
    .attribution{
        margin-top: 20px;
    }
}